body{
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    color:#516171;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700 !important;
    color: #092032; 
}
a{
    color: #092032; 
    text-decoration: none;
    transition: all 0.4s ease;
}
img{
    width: 100%;

}

/* navbar */

.top-nav{
    background: #ff4d29;
    padding: 5px 0;
}
.top-nav p{
    margin-bottom: 0;
    margin-right: 16px;
    color:#fff;
}
.top-nav i, top-nav span{
    vertical-align: middle;
}
.social-links a{
    width: 34px;
    height: 34px;
    background: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:#ffff;
    font-size: 20px;
    border-radius: 100%;

}
.social-links a:hover{
    color:#ff4d29;
    background: #fff;
}

.navbar{
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active{
    color: #ff4d29;
    background: rgba(255, 255, 255, 0.6);
}
.navbar .navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color:#092032;
}

.btn-brand{
    padding: 10px 24px;
    background: #ff4d29;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.btn-brand:hover{
    background: white;
    color:#ff4d29;
    border:2px solid #ff4d29;
}

/* banner  */
.carousel-item .carousel-caption{
    background: rgba(255, 255, 255, 0.6);
    color: #092032;
}
.btn-work{
    border: 2px solid #092032;
}